<html>
<head>
    <title>Time Example</title>
    <link href="~/Styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="title">
        <h1>Time</h1>
    </div>
    <div class="main-form">
        <form method="post">
            <label for="startYear">Start Year</label>
            <input name="startYear" />

            <label for="endYear">End Year</label>
            <input name="endYear"/>

            <button type="submit">Find A Person</button>
        </form>
    </div>
</body>
</html>